text eol=auto

*.sh eol=lf
# *.js eol=crlf
# *.png eol=crlf
# *.html eol=crlf

# Custom for CRBasic
*.cr1 eol=crlf
*.cr8 eol=crlf
*.cfg eol=crlf
*.cr2 eol=crlf
*.dld eol=crlf
*.txt eol=crlf
.csipasswd eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Binary files
*.obj binary
*.a43 binary
*.bin binary
*.S binary
*.fwb binary
